/* 容器样式 */
.members-container {
  display: flex;
  flex-direction: row; /* 横向排列 */
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* 与上方组件间距 */
  gap: 15px; /* 名片之间的间距 */
  flex-wrap: wrap; /* 如果空间不足，自动换行 */
}

/* 名片样式 */
.member-card {
  display: flex;
  flex-direction: column; /* 竖向排列 */
  justify-content: center;
  align-items: center;
  width: 120px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; /* 添加平滑过渡效果 */
  user-select: none; /* 禁止选中名片内容 */
}

.member-card:hover {
  transform: scale(1.1); /* 鼠标悬停时放大 */
}

/* 头像容器样式 */
.member-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden; /* 防止图片超出边界 */
  border-radius: 50%; /* 确保图片是圆形的 */
  margin-bottom: 10px; /* 与名字间距 */
}

/* 头像样式 */
.member-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  outline: none;
  pointer-events: none; /* 禁止鼠标事件 */
  user-select: none; /* 禁止选中头像 */
 
}

/* 名字样式 */
.member-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center;
  user-select: none; /* 禁止选中文字 */
  pointer-events: none; /* 禁止鼠标事件 */
}
